<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %><%# 新規登録されたもののbody要素を表示 %>

<br>
<br>

<%= link_to 'Edit', edit_book_path(@book)  %>
<%= link_to 'Back', books_path %>
